script(src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js")

script(src='js/core.js')
script(src='js/main.js')

if intro.background
	script(src='js/background.js')

if intro.supportAuthor
	script(src="https://cdn.jsdelivr.net/gh/SimonAKing/js/log.min.js")
